.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-card {
  margin-bottom: 10px;
}

.countdown-container {
  text-align: center;
  padding: 20px;
}

.countdown {
  font-size: 48px;
  color: #007bff; /* Color azul */
}

.message {
  font-size: 24px;
  color: #28a745; /* Color verde */
}

.example-card {
  max-width: 400px;
}
mat-card {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
mat-card-header {
  justify-content: center;
}

mat-card-subtitle {
  font-size: 40px;
}
mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-container {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
